version: '3.8'

services:
  # Test application
  test-app:
    build:
      context: .
      dockerfile: Dockerfile.test
    container_name: cpp-cohida-test
    env_file:
      - .env.test
    volumes:
      - ./test_outputs:/app/outputs
      # Mount .env.test to /app/.env.test so C++ config loader finds it
      - ./.env.test:/app/.env.test:ro
    networks:
      - db_prdnet
    command: [ "./bin/cohida-unit-tests" ]

networks:
  db_prdnet:
    external: true
